<div class="w_header">
			<div class="container">
				<div class="w_header_top">
					
				<!-- <a href="#" class="w_logo"></a>	 -->
				<span class="w_header_nav">
					<ul>
						<li><a href="__ROOT__/index" class="active">首页</a></li>
						<li><a href="__MODULE__/article/lst.html">博文</a></li>
						<li><a href="__MODULE__/mood.html">动态</a></li>
						<li><a href="__MODULE__/about.html">关于</a></li>
						<li><a href="__MODULE__/comment/lst.html">留言</a></li>
					</ul>
				</span>
					<div class="w_search">
						<div class="w_searchbox">
							<input type="text" placeholder="search" />
							<button>搜索</button>
						</div>
					</div>
				</div>
			</div>
		</div>